APP_NAME=IT Portal Helpdesk
APP_ENV=local
APP_URL=http://localhost/itportal

DB_HOST=localhost
DB_PORT=3306
DB_NAME=itportal
DB_USER=root
DB_PASS=

UPLOAD_MAX_MB=10
TOKEN_SECRET=change-this-to-a-long-random-string-64-chars
WA_NUMBER_DEFAULT=62xxxxxxxxxx
